.form-container {
  display: flex;
  flex-direction: column;
}

.form-container > * {
  width: 100%;
}

mat-card {
  margin: 0px 100px;
}

.submit-btn {
  width: 100px;
}

.submit-btn:nth-child(1) {
  margin-right: 10px;
}
