<mat-card>
  <h3>Create invoice</h3>
  <form
    class="form-container"
    [formGroup]="invoiceForm"
    (ngSubmit)="onSubmit()"
  >
    <mat-form-field color="accent">
      <input matInput placeholder="Item" formControlName="item" />
      <mat-error
        *ngIf="
          invoiceForm.controls.item.invalid && invoiceForm.controls.item.touched
        "
        >Item is required.</mat-error
      >
    </mat-form-field>
    <mat-form-field color="accent">
      <input
        matInput
        [matDatepicker]="date"
        placeholder="Choose a date"
        formControlName="date"
      />
      <mat-error
        *ngIf="
          invoiceForm.controls.date.invalid && invoiceForm.controls.date.touched
        "
        >Date is required.</mat-error
      >
      <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
      <mat-datepicker #date></mat-datepicker>
    </mat-form-field>
    <mat-form-field color="accent">
      <input
        matInput
        [matDatepicker]="due"
        placeholder="Choose a due date"
        formControlName="due"
      />
      <mat-error
        *ngIf="
          invoiceForm.controls.due.invalid && invoiceForm.controls.due.touched
        "
        >Due date is required.</mat-error
      >
      <mat-datepicker-toggle matSuffix [for]="due"></mat-datepicker-toggle>
      <mat-datepicker #due></mat-datepicker>
    </mat-form-field>
    <mat-form-field color="accent">
      <input matInput placeholder="Qty" type="number" formControlName="qty" />
      <mat-error
        *ngIf="
          invoiceForm.controls.qty.invalid && invoiceForm.controls.qty.touched
        "
        >Quantity date is required.</mat-error
      >
    </mat-form-field>
    <mat-form-field color="accent">
      <input matInput placeholder="Tax" type="number" formControlName="tax" />
      <mat-error
        *ngIf="
          invoiceForm.controls.tax.invalid && invoiceForm.controls.tax.touched
        "
        >Tax date is required.</mat-error
      >
    </mat-form-field>
    <mat-form-field color="accent">
      <input matInput placeholder="Rate" type="number" formControlName="rate" />
      <mat-error
        *ngIf="
          invoiceForm.controls.rate.invalid && invoiceForm.controls.rate.touched
        "
        >Rate date is required.</mat-error
      >
    </mat-form-field>
    <div>
      <button
        mat-raised-button
        type="submit"
        color="primary"
        class="submit-btn"
        [disabled]="!invoiceForm.valid"
      >
        Save
      </button>
      <button mat-raised-button type="button" color="accent" class="submit-btn">
        Cancel
      </button>
    </div>
  </form>
</mat-card>
