<mat-sidenav-container class="app-sidenav-container">
  <mat-sidenav class="app-sidenav" #sidenav mode="side" opened="true">
    <mat-toolbar color="accent">Dashboard</mat-toolbar>
    <mat-nav-list class=""
      ><a
        mat-list-item
        [routerLink]="link.url"
        href=""
        *ngFor="let link of links"
        >{{ link.name }}</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <div class="app-sidenav-content">
    <app-toolbar (toggleSidenav)="sidenav.toggle()"></app-toolbar>

    <div class="wrapper">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-sidenav-container>
